body {
  background-color: darkgrey;
  font-size: 10px;
}
.container {
  display: table;
  width: 100%;
}
div {
  width: 75%;
  columns: 1;
  background-size: cover;
  padding-bottom: 40px;
}
.preview-baku {
  display: table-cell;
  padding: 16px;
  background-image: url("../images/baku.jpg");
  background-size: cover;
}
.preview-london {
  display: table-cell;
  padding: 16px
  background-image: url('../images/london.png');
  background-size: cover;
}
.preview-madrid {
  display: table-cell;
  padding: 16px;
  background-image: url('../images/madrid.jpg');
  background-size: cover;
}
.preview-rome {
  display: table-cell;
  padding: 16px;
  background-image: url('../images/rome.jpg');
  background-size: cover;
}
h1 {
  position: absolute;
  top: 8px;
  left: 16px;
}
@media all and (min-width: 575px) {
  .container {column-count: 2}
}
@media all and (min-width: 991px) {
  .container {column-count: 4}
}
