body {
  background-color: darkgrey;
  font-size: 26px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.container {
  display: block;
  width: 100%;
  position: relative;
}
div {
  margin-bottom: 20px;
}

.preview-baku {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-image: url('../images/baku.jpg');
  background-size: cover;
}
.preview-london {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-image: url('../images/london.png');
  background-size: cover;
}
.preview-madrid {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-image: url('../images/madrid.jpg');
  background-size: cover;
}
.preview-rome {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-image: url('../images/rome.jpg');
  background-size: cover;
}
h1 {
  font-variant: small-caps;
  text-align: center;
  padding: 40px;
}
h2 {
  position: absolute;
  font-size: .75em;
  top: 40px;
  left: 40px;
}
@media all and (min-width: 575px) {
  .container {
    column-count: 2;
  }
  body {
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
  }
}
@media all and (min-width: 991px) {
  .container {
    column-count: 4;
  }
  body {
    padding-left: 200px;
    padding-right: 200px;
    overflow: hidden;
}
