*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  margin: auto;
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
  display: inline-block;
  /* align-items: center; */
  background-position: center;  
   /* align-items: center; */
}



.modern-luxury h1 {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 25px 0 30px 0;
  position: absolute;
  margin: 2% 0;
  /* padding: 10% 0 20% 50%; */
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.preview {
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  /* align-items: center; */
  margin: 1% 1%;
  padding: 20px 25px;
  width: 25em;
  height: 25em;
  /* width: 200px;
  height: 200px; */
}

.preview.baku {
  background-image: url("../images/baku.jpg");
}

.preview.baku h1 {
  font-size: 1.2em;
  
    /* position: absolute; 
     top: 8px; 
     left: 16px */
}

.preview.london {
  background-image: url("../images/london.png");
}

.preview.london h1 {
  font-size: 1.2em;
  /* position: absolute; */
  top: 8px;
  left: 8px;
}

.preview.madrid {
  background-image: url("../images/madrid.jpg");
}

.preview.madrid h1 {
  font-size: 1.2em;
  /* position: absolute; */
  top: 8px;
  left: 8px;
}



.preview.rome h1 {
  font-size: 1.2em;
  /* position: absolute; */
  top: 8px;
  left: 8px;
}

.preview.rome {
  background-image: url("../images/rome.jpg");
}



@media screen and (min-width: 575px){
  div {
   margin: 1%;
   width: 48%;
 }
}

@media screen and (min-width: 991px){
  div {
    margin: 1%;
    width: 25%;
  }
}
